* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(80, 71, 57) !important ;
}
nav {
  background-color: #fff;
  height: 100vh;
  width: 90px;
}
nav .logo {
  background-color: rgb(255, 72, 72);
  width: 90px;
  height: 90px;
  text-align: center;
}
nav .logo p {
  display: inline;
  font-size: 80px;
  font-weight: bold;
  color: white;
  position: relative;
  top: -5%;
}
nav .text {
  position: relative;
  top: 35%;
  left: -22%;
  transform: rotate(-90deg);
  display: inline-block;
}

nav .text p {
  font-size: 20px;
}
.menu-btn {
  position: relative;
  line-height: 5px;
  top: 380px;
  right: -2px;
  padding: 20px;
  cursor: pointer;
}

.menu-btn a span {
  width: 24px;
  height: 2px;
  background-color: black;
  display: block;
  position: relative;
  top: 50%;
  left: 35%;
}
.menu-btn a span:nth-child(1) {
  top: 3px;
}
.menu-btn a span:nth-child(2) {
  top: 10px;
}

.menu-btn a span:nth-child(3) {
  top: 8px;
}
.menu-btn a span:nth-child(4) {
  top: 15px;
}

.menu-btn a {
  width: 30px;
  height: 40px;
  display: inline-block;
  position: relative;
}
.menu-btn:hover a span {
  background-color: red;
  transition: 1s;
}

.menu-btn a:active {
  visibility: none;
}

.menu-nav {
  background-color: white;
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 90px;
}
